# NEXT_PUBLIC_API_URL="http://54.252.73.240:8014/api/v1"

# NEXT_PUBLIC_API_URL="http://172.16.16.48:8015/api/v1"

#------------PREETI------------#
# NEXT_PUBLIC_API_URL="http://172.16.16.123:8014/api/v1"

#------------SANDIP------------#
# NEXT_PUBLIC_API_URL="http://172.16.16.43:8014/api/v1"

#------------SABBIR------------#
# NEXT_PUBLIC_API_URL="http://172.16.16.200:8014/api/v1"

#------------SANDIP------------#
#NEXT_PUBLIC_API_URL="http://172.16.16.175:8000/api/v1"

#----------HOSTED-----------#
# NEXT_PUBLIC_API_URL="http://54.252.73.240:8014/api/v1"

----------HOSTED-----------#
#NEXT_PUBLIC_API_URL="http://54.252.73.240:8014/api/v1"

#----------SABBIR-----------#
# NEXT_PUBLIC_API_URL="http://172.16.16.46:8014/api/v1"

NEXT_PUBLIC_API_URL="https://sandbox.homaale.api.cagtu.io/api/v1"


//TO GET API KEYS CONTACT ADMIN

NEXT_PUBLIC_RECAPTCHA_SITE_KEY = "YOUR API KEY"

NEXT_PUBLIC_MAPBOX_API_KEY="YOUR API KEY"

#Open weather
NEXT_PUBLIC_OPENWEATHER_API_KEY="YOUR API KEY"
NEXT_PUBLIC_COOKIE_MAX_AGE=30

#cipher web login
NEXT_PUBLIC_GOOGLE_CLIENT_ID="YOUR API KEY"
NEXT_PUBLIC_GOOGLE_SECRET_ID="YOUR API KEY"

#Maps API Key
NEXT_PUBLIC_GOOGLE_MAP_API_KEY="YOUR API KEY"

NEXT_PUBLIC_FACEBOOK_APP_ID="YOUR API KEY"

#FIREBASE CREDENTIALS
NEXT_PUBLIC_FIREBASE_API_KEY="YOUR API KEY"
NEXT_PUBLIC_AUTH_DOMAIN="YOUR API KEY"
NEXT_PUBLIC_PROJECT_ID= "YOUR API KEY"
NEXT_PUBLIC_STORAGE_BUCKET="YOUR API KEY"
NEXT_PUBLIC_MESSAGE_SENDER_ID="YOUR API KEY"
NEXT_PUBLIC_APP_ID="YOUR API KEY"
NEXT_PUBLIC_MEASUREMENT_ID="YOUR API KEY"

#ENCRYPTION KEY
NEXT_PUBLIC_AES_KEY = 'YOUR AES KEY'

#FIREBASE VAPID KEY

NEXT_PUBLIC_VAPID_KEY="YOUR API KEY"

# Stripe Keys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY = "YOUR API KEY"
STRIPE_SECRET_KEY="YOUR API KEY"

# Khalti Keys
NEXT_PUBLIC_KHALTI_PUBLIC_KEY = "YOUR API KEY"

NEXT_PUBLIC_AES_KEY = "YOUR API KEY"

//TO GET API KEYS CONTACT ADMIN