{% load i18n %}

{% autoescape off %}

{% blocktrans %}
You're receiving this email because you requested a password reset for your user account at {{ domain }}.
{% endblocktrans %}


{% trans "Your password reset link is:" %}

{% block reset_link %}
	{{domain}}/reset-password?u={{uid}}&t={{token}}
{% endblock %}

{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}
	
{% trans "Thankyou for using our site!" %}

{% blocktrans %}The Cagtu Nepal {% endblocktrans %}

{% endautoescape %}